[Unit]
Description=MidiSynth Daemon
After=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/midisynthd
Restart=on-failure

[Install]
WantedBy=multi-user.target
